__pycache__
2024_LoL_esports_match_data_from_OraclesElixir.csv
_pycache__/lck.cpython-312.pyc
__pycache__/lcs.cpython-312.pyc
__pycache__/lec.cpython-312.pyc
__pycache__/lpl.cpython-312.pyc
__pycache__/
services/data-producer/venv/
